@{
    ViewBag.Title = "About";
}

@section LeftMenu {
    <section id="leftmenu">
        @Html.Action("LeftMenu", "Home")
    </section>
}

<hgroup class="title">
    <h1>
		Giới thiệu Khoa CNPM</h1>
</hgroup>

<article>
   
                                   <div class="item-page">
<p style="text-align: justify;">Khoa Công nghệ Phần mềm là một trong năm khoa của trường Đại học Công nghệ Thông tin. Khoa được hình thành trên cơ sở bộ môn Công nghệ Phần mềm của Trung tâm Phát triển Công nghệ Thông tin thuộc Đại học Quốc gia Tp. Hồ Chí Minh.</p>
<p>Đào tạo kỹ sư ngành Kỹ thuật phần mềm có phẩm chất chính trị vững vàng; có kỷ luật, đạo đức nghề nghiệp; nắm vững kiến thức cơ bản và chuyên môn; có khả năng tổ chức thực hiện nhiệm vụ trong phạm vi quyền hạn của một chuyên viên trong lĩnh vực kỹ thuật phần mềm.</p>
<p style="text-align: justify;">Khoa trang bị cho sinh viên kiến thức tổng quát về quy trình xây dựng, quản lý và bảo trì hệ thống phần mềm; có khả năng phân tích, thiết kế và quản lý các dự án phần mềm; cung cấp phương pháp luận và công nghệ mới để sinh viên có thể nắm bắt và làm chủ các tiến bộ khoa học. Sinh viên được cung cấp kiến thức cơ bản về tổ chức và quản lý công nghệ phần mềm để có khả năng xây dựng mô hình và áp dụng các nguyên tắc của công nghệ phần mềm vào thực tế.</p>
<p style="text-align: justify;">Các bộ môn của khoa Công nghệ Phần mềm bao gồm:</p>
<p style="text-align: justify;"><strong style="font-size: 10pt;">&nbsp;</strong><strong style="font-size: 10pt;"><span style="font-size: 12pt;">Bộ môn Phát triển phần mềm</span></strong></p>
<ul>
<li style="text-align: justify;">Phát triển khung chương trình đào tạo đáp ứng nhu cầu thực tế trong doanh nghiệp phát triển phần mềm mang tính chất thực tiễn và chất lượng cao, mang tính cập nhật mới đặc thù riêng của Khoa Công nghệ phần mềm.</li>
<li style="text-align: justify;">Áp dụng mô hình doanh nghiệp như các Case-Study hỗ trợ phục vụ đào tạo và rèn luyện học tập trong các môn học lý thuyết kết hợp thực nghiêm, vận dụng mô hình lý thuyết vào thực tế triển khai.</li>
<li style="text-align: justify;">Xây dựng các hội thảo chuyên đề nghiên cứu triển khai khoa học công nghệ, đào tạo kết hợp doanh nghiệp, chuyên gia, giữa các khoa, giữa doanh nghiệp với nhà trường.</li>
<li style="text-align: justify;">Xây dựng các dự án triển khai nghiên cứu khoa học trong bộ môn giúp sinh viên làm quen với môi trường nghiên cứu đề tài khoa học, hướng nghiệp để tiếp cận sớm với doanh nghiệp phát triển phần mềm nhằm tạo nguồn kinh phí hỗ trợ sinh viên tăng kỹ năng phát triển nghề nghiệp và khả năng làm việc theo nhóm (Team work), kỹ năng quản lý và điều phối dự án.</li>
<li style="text-align: justify;">Cung cấp sự hiểu biết các đặc trưng chính của phần mềm, khái niệm chu trình phần mềm, các hoạt động kỹ thuật, cung cấp kiến thức thực nghiệm về chọn lựa kỹ thuật, công cụ, mô hình chu trình dự án, các kiến thức độ quan trọng đảm bảo chất lượng (quality assurance), quản lý dự án trong phát triển phần mềm.</li>
<li style="text-align: justify;">Giải thích đặc trưng then chốt các loại hệ thống khác nhau như hệ thống thời gian thực, hệ thống hướng cơ sở dữ liệu, hệ thống phân tán, hệ thống hướng tri thức, hệ thống an toàn&nbsp; bảo mật, hệ thống và thảo luận chỉ rõ nhưng đặc trưng trong việc chọn lựa kỹ thuật phát triển phần mềm.</li>
<li style="text-align: justify;">Xây dựng và phát triển các ứng dụng thực tiễn trong các lĩnh vực kinh tế, xã hội, giáo dục, y tế, quản lý doanh nghiệp như các hệ thống phần mềm tích hợp tin học hóa trong tổ chức doanh nghiệp nhỏ và lớn như ERP (Enterprise Resource Planning), B2B, phần mềm phục vụ sản xuất quản lý theo dõi qui trình quản lý công việc, quản lý dự án ở các tổ chức phát triển phần mềm, …</li>
<li style="text-align: justify;">Xây dựng và phát triển ứng dụng hỗ trợ môi trường phát triển cộng tác, phân tán không tập trung hướng đến nhu cầu phát triển khu vực, toàn cầu, hướng đến nhu cầu điện tử hóa mọi công việc như các định hướng phát triển với ba mô hình Chính phủ điện tử (E-Government), Thương mại điện tử (E-Commerce), Giáo dục điện tử (E-Learning)...</li>
<li style="text-align: justify;">Vận dụng các mô hình qui trình, các giải pháp công nghệ mới để xây dựng phần mềm và các công cụ hỗ trợ (CASE tools) cho môi trường phát triển, đồng thời triển khai các ứng dụng cụ thể trong các doanh nghiệp phát triển phần mềm, gia công phần mềm ở các doanh nghiệp trong và ngoài nước</li>
</ul>
<p><span style="font-size: 12pt;"><strong>&nbsp;Bộ môn Môi trường ảo và phát triển game</strong></span></p>
<ul>
<li style="text-align: justify;">Engine development: nghiên cứu chuyên sâu các công nghệ đồ họa 3 chiều, vật lý, âm thanh tiên tiến nhất nhằm xây dựng hoặc cải tiến các engine phục vụ cho việc phát triển game như: cloth &amp; face simulation, cinametic rendering, environmental objects rendering (water, tree, sky, grass,…), physic simulation,</li>
<li style="text-align: justify;">Online game: nghiên cứu chuyên sâu về kỹ thuật mạng và kỹ thuật thiết kế liên quan đến việc xây dựng một game nhiều người chơi trên môi trường Internet như: kỹ thuật xử lý lag, các kỹ thuật bảo mật, nén thông tin, chống hack, kỹ thuật load-balancing, …</li>
<li style="text-align: justify;">Game AI: nghiên cứu chuyên sâu cách vận dụng các công nghệ trí tuệ nhân tạo tiên tiến (mạng Neural, Fuzzy logic, lập trình Gen, data mining, …) vào môi trường game để tạo ra một thế giới game ngày càng trung thực (như gia tăng “trí tuệ” và “cảm xúc” cho các nhân vật trong game, các tình tiết của game có tính logic cao hơn) phong phú, có tính thử thách cao hơn nhằm gia tăng tính hấp dẫn của tất cả thể loại game.</li>
<li style="text-align: justify;">Virutal world: đây là định hướng nghiên cứu cứu khá mới mẻ phục vụ cho các game thuộc thể loại nhập vai trực tuyến nhiều người chơi (MMORPG). Mục tiêu của hướng nghiên cứu này là tìm hiểu các quy luật về xã hội, kinh tế và cả tâm lý trong thế giới thực để áp dụng vào thế giới ảo nhằm tạo ra một thế giới ảo công bằng và thú vị cho tất cả người chơi. Định hướng nghiên cứu này có liên quan mật thiết đến kỹ thuật AI.&nbsp;</li>
</ul>
	
</div>
  
</article>

<aside>
    <h3>Aside Title</h3>
    <p>
        
    </p>
    <ul>
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("About", "About", "Home")</li>
        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
    </ul>
</aside>