@model IEnumerable<UIT.NoSQL.Core.Domain.UserGroupObject>

@{
    Layout = null;
}

@if (Session["user"] != null) 
{
    <ul>
        <li>
            <a href="#">
                My Group
            </a>
        </li>
        <li>
            <a href="/">
                Home
            </a>
        </li>
        <li>
            <a href="#">
                Share
            </a>
        </li>

        <hr />


        @foreach (var item in Model) 
        {
            <li>
            @if (TempData["GroupId"].Equals(item.GroupId))
            {
                <a href="/Group/Detail/@Html.DisplayFor(modelItem => item.GroupId)" style="color:#D14836">
                    @Html.DisplayFor(modelItem => item.GroupName)
                </a>
            }
            else
            {
                <a href="/Group/Detail/@Html.DisplayFor(modelItem => item.GroupId)">
                    @Html.DisplayFor(modelItem => item.GroupName)
                </a>
            }
            </li>        
        }
        <hr />

        <li>
            <a href="#">
                Favorites
            </a>
        </li>
        <li>
            <a href="#">
                Favorites
            </a>
        </li>

    </ul>
}
