@model IEnumerable<UIT.NoSQL.Core.Domain.UserGroupObject>
@{
    Layout = null;
}

@{
    ViewBag.Title = "JoinRequest";
}
    <script type="text/javascript" src="../../Scripts/jquery-1.6.2.js"></script>
<script type="text/javascript">
    function xmlhttpPost(_id) {

        $.post("/Group/ActiveRequest", { id: _id }, function (data) {
            $("#" + _id).remove();
            alert(data);
        });

    }

</script>
<h2>JoinRequest</h2>

@if (Model == null || Model.Count() == 0)
{
    <h2>No request</h2>
}
else
{
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.User.UserName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    <tr id="@item.Id">
        <td>
            @Html.DisplayFor(modelItem => item.User.UserName)
        </td>
        <td>
            <a href="javascript:{}" onclick="xmlhttpPost('@item.Id')">Accept Member</a>
        </td>
    </tr>
}

</table>
}