@{
    ViewBag.Title = "Manager";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section LeftMenu {
    <section id="leftmenu">
        @Html.Action("LeftManager", "Group")
    </section>
}

@section menu {
    <section id="topmenu">
        @Html.Action("TopMenuUser", "Group", new{action = "orther"})
    </section>
}

<div id="MyContent"></div>