@{
    ViewBag.Title = "Contact";
}

@section LeftMenu {
    <section id="leftmenu">
        @Html.Action("LeftMenu", "Home")
    </section>
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>

<section class="contact">
    <header>
        <h3>Trường Đại học Công nghệ thông tin</h3>
    </header>
    <p>
        Khoa Công nghệ phần mềm<br />
        Lớp CMPN03
    </p>
</section>

<section class="contact">
    <header>
        <h3>Dương Thân Dân:</h3>
    </header>
    <p>
        <span class="label">Phone:</span>
        <span>0973.138.035</span>
    </p>
    <p>
        <span class="label">Address:</span>
        <span>235B, đường Nguyễn Văn Cừ, phường Nguyễn Cư Trinh, Q1, Tp.HCM</span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Bùi Ngọc Huy:</h3>
    </header>
    <p>
        <span class="label">Phone:</span>
        <span>01689.913.649</span>
    </p>
    <p>
        <span class="label">Address:</span>
        <span>209/6, đường Quốc Lộ 13, phường 26, Q.Bình Thạnh, Tp.HCM</span>
    </p>
</section>