@model IEnumerable<UIT.NoSQL.Core.Domain.UserGroupObject>

@{
    Layout = null;
}

@if (Session["user"] != null) 
{
    <ul>
        <li>
            <a href="#">
                My Group
            </a>
        </li>
        <li>
            <a href="/">
                Home
            </a>
        </li>
        <li>
            <a href="#">
                Share
            </a>
        </li>

        <hr />


        @foreach (var item in Model) 
        {
            <li>
            @if (TempData["GroupId"].Equals(item.GroupId))
            {
                <a href="/Group/Detail/@Html.DisplayFor(modelItem => item.GroupId)" style="color:#D14836">
                    @Html.DisplayFor(modelItem => item.GroupName)
                </a>
            }
            else
            {
                <a href="/Group/Detail/@Html.DisplayFor(modelItem => item.GroupId)">
                    @Html.DisplayFor(modelItem => item.GroupName)
                </a>
            }
            </li>        
        }
        <hr />

        <li>
            <a href="#">
                Favorites
            </a>
        </li>

    </ul>
}
else
{
<h4 style="margin: 10px 0px 4px; padding: 0px; border: 0px; vertical-align: baseline; font-size: 16px; line-height: 24px; font-weight: normal; color: rgb(51, 51, 51); font-family: Arial, Helvetica, sans-serif;">
	Tất cả cuộc thảo luận của bạn tại một nơi</h4>
<p style="margin: 0px 0px 20px; padding: 0px; border: 0px; vertical-align: baseline; font-size: 13px; line-height: 18px; font-family: Arial, Helvetica, sans-serif;">
	Chọn theo dõi qua email và nhanh chóng tìm thấy các bài đăng chưa đọc.</p>
<h4 style="margin: 10px 0px 4px; padding: 0px; border: 0px; vertical-align: baseline; font-size: 16px; line-height: 24px; font-weight: normal; color: rgb(51, 51, 51); font-family: Arial, Helvetica, sans-serif;">
	Thể hiện chính bạn</h4>
<p style="margin: 0px 0px 20px; padding: 0px; border: 0px; vertical-align: baseline; font-size: 13px; line-height: 18px; font-family: Arial, Helvetica, sans-serif;">
	Sử dụng tính năng chỉnh sửa văn bản, tùy chỉnh phông chữ, màu sắc và hình ảnh cho các bài đăng của bạn.</p>
<h4 style="margin: 10px 0px 4px; padding: 0px; border: 0px; vertical-align: baseline; font-size: 16px; line-height: 24px; font-weight: normal; color: rgb(51, 51, 51); font-family: Arial, Helvetica, sans-serif;">
	Mọi người đóng vai trò quan trọng trong các cuộc thảo luận</h4>
<p style="margin: 0px 0px 20px; padding: 0px; border: 0px; vertical-align: baseline; font-size: 13px; line-height: 18px; font-family: Arial, Helvetica, sans-serif;">
	Bài viết của bạn sẽ được chia sẻ với mọi người trên khắp thế giới.</p>
<h4 style="margin: 10px 0px 4px; padding: 0px; border: 0px; vertical-align: baseline; font-size: 16px; line-height: 24px; font-weight: normal; color: rgb(51, 51, 51); font-family: Arial, Helvetica, sans-serif;">
	Tốc độ nhanh</h4>
<p style="margin: 0px 0px 20px; padding: 0px; border: 0px; vertical-align: baseline; font-size: 13px; line-height: 18px; font-family: Arial, Helvetica, sans-serif;">
	Thiết kế đơn giản - không phải mất thời gian đọc và tham gia. </p>

}