<ul>
    <li>
        <a href="#">
            My Group
        </a>
    </li>
    <li>
        <a href="#">
            Home
        </a>
    </li>
    <li>
        <a href="#">
            Share
        </a>
    </li>

    <hr />

    <li>
        <a href="#">
            My Group 1
        </a>
    </li>
    <li>
        <a href="#">
            My Group 2
        </a>
    </li>
    <li>
        <a href="#">
            My Group 3
        </a>
    </li>
    <li>
        <a href="#">
            My Group 4
        </a>
    </li>

    <hr />

    <li>
        <a href="#">
            Favorites
        </a>
    </li>
    <li>
        <a href="#">
            Setting
        </a>
    </li>

</ul>