@{
    ViewBag.Title = "AccessDenied";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section LeftMenu {
    <section id="leftmenu">
        @Html.Action("LeftMenu", "Home")
    </section>
}

<script type="text/javascript">
    function xmlhttpPost(_id) {

        $.post("/Group/Join", {id: _id}, function (data) {
            alert(data);
        });

    }
</script>
@section menu {
    @if(Session["user"] != null)
    {
        <ul id="menu">
            @if(!TempData["GroupId"].Equals("null"))
            {
                <div tabindex="0" class="BUTTONSTYLE JOINGROUP" onclick = "xmlhttpPost('@TempData["GroupId"]')">Join Group</div>
            }
        </ul>
    }
    else
    {
        <div tabindex="0" class="BUTTONSTYLE JOINGROUP"><a data-dialog-title="Login" href="/Account/Login" id="loginLink1" class="aRegister" style="color:white;text-decoration:none">Login for joining group</a></div>
    }
}

<h2>Access Denied</h2>
You must be member of this group to view page.