@{
    Layout = null;
}


@if (Session["user"] != null)
{
    
    <script type="text/javascript">

        function GetManager(action, id) {
            //$("#MyContent").html("<p>Loading...</p>");
            url = "/Group/" + action;
            $.post(url, { id: id }, function (data) {
                $("#MyContent").html(data);
            });
        }
        
        $(document).ready(function () {
            GetManager('Member','@TempData["IsMember"]');
        });
    </script>
    
    <ul>
        <li>
            <a href="#">
                My Group
            </a>
        </li>
        <li>
            <a href="#">
                Home
            </a>
        </li>
        <li>
            <a href="#">
                Share
            </a>
        </li>

        <hr />

        
        <li>
            <a href="javascript:{}" onclick="GetManager('Member','@TempData["IsMember"]')">Member</a>
        </li>
        <li>
            <a href="javascript:{}" onclick="GetManager('JoinRequest','@TempData["IsMember"]')">Join Request</a>            
        </li>
        
        <li>
            <a href="javascript:{}" onclick="GetManager('Setting','@TempData["IsMember"]')">Setting</a>
        </li>
        
        
        <hr />

        <li>
            <a href="#">
                Favorites
            </a>
        </li>

    </ul>
}
