@{
    ViewBag.Title = "Manager";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (ViewBag.Member == true)
{
   
    @section LeftMenu {
        <section id="leftmenu">
            @Html.Action("LeftMenu", "Home")
        </section>
    }

    @Html.Action("ManagerUser", "Group")
}
else
{
    @section LeftMenu {
        <section id="leftmenu">
            @Html.Action("LeftManager", "Group")
        </section>
    }

    <div id="MyContent"></div>
}
    @section menu {
        <section id="topmenu">
            @Html.Action("TopMenuUser", "Group", new{action = "orther"})
        </section>
    }
