@model IEnumerable<UIT.NoSQL.Core.Domain.GroupObject>

@{
    Layout = null;
}

    @foreach (var item in Model)
    {
        <tr>
            <td style="width:70%;">
                <div class="GLTURNLNJ">
                    <div class="GLTURNLCK">
                        <div class="GLTURNLKW"></div>
                      
                        @Html.ActionLink(item.GroupName, "Detail", "Group", new { id = item.Id }, null)
                    </div>
                    <div class="GLTURNLNK">
                        @Html.DisplayFor(modelItem => item.Description)
                    </div>
                </div>
            </td>
            <td>
                <b>@item.CreateBy.FullName</b>
                <div>@item.CreateDate</div>
            </td>
        </tr>
    }