<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="sqldbuit.Properties.Settings.UITSQLDBConnectionString"
            connectionString="Data Source=WIN-PC\MSSQLSERVER2;Initial Catalog=UITSQLDB;Persist Security Info=True;User ID=sa;Password=123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>