	.BUTTONSTYLE {
		cursor: pointer;
		font-size: 11px;
		font-weight: bold;
		text-align: center;
		margin-right: 16px;
		white-space: nowrap;
		height: 27px;
		line-height: 27px;
		min-width: 54px;
		outline: 0;
		padding: 0 8px;
		-moz-border-radius: 2px;
		-webkit-border-radius: 2px;
		border-radius: 2px;
		display: inline-block;
    }
    .POSTBUTTON, .CREATEGROUP, .CREATETOPIC, .POSTTOPIC, .JOINGROUP{
		border: 1px solid transparent;
		color: white;
		background-color: #D14836;
		background-image: -webkit-linear-gradient(top, #DD4B39, #D14836);
		background-image: -moz-linear-gradient(top, #DD4B39, #D14836);
		background-image: -ms-linear-gradient(top, #DD4B39, #D14836);
		background-image: -o-linear-gradient(top, #DD4B39, #D14836);
		background-image: linear-gradient(top, #DD4B39, #D14836);
		text-shadow: 0 1px rgba(0, 0, 0, 0.1);
		text-transform: uppercase;
    }
    .POSTBUTTON, .CREATEGROUP, .CREATETOPIC, .POSTTOPIC, .JOINGROUP:hover {
		border: 1px solid #B0281A;
		border-bottom-color: #AF301F;
		background-color: #C53727;
		background-image: -webkit-linear-gradient(top, #DD4B39, #C53727);
		background-image: -moz-linear-gradient(top, #DD4B39, #C53727);
		background-image: -ms-linear-gradient(top, #DD4B39, #C53727);
		background-image: -o-linear-gradient(top, #DD4B39, #C53727);
		background-image: linear-gradient(top, #DD4B39, #C53727);
    }

    .GLTURNLHW{
		border: 1px solid rgba(0, 0, 0, 0.1);
		color: white;
		background-color: whiteSmoke;
		background-image: -webkit-linear-gradient(top, whiteSmoke, #F1F1F1);
		background-image: -moz-linear-gradient(top, whiteSmoke, #F1F1F1);
		background-image: -ms-linear-gradient(top, whiteSmoke, #F1F1F1);
		background-image: -o-linear-gradient(top, whiteSmoke, #F1F1F1);
		background-image: linear-gradient(top, whiteSmoke, #F1F1F1);
		text-shadow: 0 1px rgba(0, 0, 0, 0.1);
		text-transform: uppercase;
    }
    .GLTURNLHW:hover {
		border: 1px solid #c6c6c6;
		background-color: #f8f8f8;
		background-image: -webkit-linear-gradient(top, #f8f8f8, #F1F1F1);
		background-image: -moz-linear-gradient(top, #f8f8f8, #F1F1F1);
		background-image: -ms-linear-gradient(top, #f8f8f8, #F1F1F1);
		background-image: -o-linear-gradient(top, #f8f8f8, #F1F1F1);
		background-image: linear-gradient(top, #f8f8f8, #F1F1F1);
    }          

    .gbqfb{
		border: 1px solid #3079ED;
		color: white;
		background-color: #4D90FE;
		background-image: -webkit-linear-gradient(top, #4D90FE, #4787ED);
		background-image: -moz-linear-gradient(top, #4D90FE, #4787ED);
		background-image: -ms-linear-gradient(top, #4D90FE, #4787ED);
		background-image: -o-linear-gradient(top, #4D90FE, #4787ED);
		background-image: linear-gradient(top, #4D90FE, #4787ED);
		text-shadow: 0 1px rgba(0, 0, 0, 0.1);
		text-transform: uppercase;
    }
    .gbqfb:hover {
		border: 1px solid #c6c6c6;
		background-color: #357ae8;
		background-image: -webkit-linear-gradient(top, #4D90FE, #357ae8);
		background-image: -moz-linear-gradient(top, #4D90FE, #357ae8);
		background-image: -ms-linear-gradient(top, #4D90FE, #357ae8);
		background-image: -o-linear-gradient(top, #4D90FE, #357ae8);
		background-image: linear-gradient(top, #4D90FE, #357ae8);
    }

    .REPLYBUTTON
    {
        border: 1px solid rgba(0, 0, 0, 0.2);
        color: #666;
        background-color: #F8F8F8;
        background-image: -webkit-linear-gradient(top, #F8F8F8, #F1F1F1);
        background-image: -moz-linear-gradient(top, #F8F8F8, #F1F1F1);
        background-image: -ms-linear-gradient(top, #F8F8F8, #F1F1F1);
        background-image: -o-linear-gradient(top, #F8F8F8, #F1F1F1);
        background-image: linear-gradient(top, #F8F8F8, #F1F1F1);
        text-shadow: 0 1px rgba(0, 0, 0, 0.1);
    }
    .REPLYBUTTON:hover
    {
        color: #333;
        border: 1px solid gainsboro;
        border: 1px solid rgba(0, 0, 0, 0.3);
        background-color: #FFFFFF;
        background-image: -webkit-linear-gradient(top, #FFFFFF, #F8F8F8);
        background-image: -moz-linear-gradient(top, #FFFFFF, #F8F8F8);
        background-image: -ms-linear-gradient(top, #FFFFFF, #F8F8F8);
        background-image: -o-linear-gradient(top, #FFFFFF, #F8F8F8);
        background-image: linear-gradient(top, #FFFFFF, #F8F8F8);
        text-shadow: 0 1px rgba(0, 0, 0, 0.1);
    }
    /*
    .DELETECOMMENT
    {
        border: 1px solid transparent;
        color: white;
        background-color: #8A7E7E;
        background-image: -webkit-linear-gradient(top, #8A7E7E, #AA9696);
        background-image: -moz-linear-gradient(top, #8A7E7E, #AA9696);
        background-image: -ms-linear-gradient(top, #8A7E7E, #AA9696);
        background-image: -o-linear-gradient(top, #8A7E7E, #AA9696);
        background-image: linear-gradient(top, #8A7E7E, #AA9696);
        text-shadow: 0 1px rgba(0, 0, 0, 0.1);
        text-transform: uppercase;
    }
    .DELETECOMMENT:hover
    {
        border: 1px solid transparent;
        background-color: #8A7E7E;
        background-image: -webkit-linear-gradient(top, #8A7E7E, #978C8C);
        background-image: -moz-linear-gradient(top, #8A7E7E, #978C8C);
        background-image: -ms-linear-gradient(top, #8A7E7E, #978C8C);
        background-image: -o-linear-gradient(top, #8A7E7E, #978C8C);
        background-image: linear-gradient(top, #8A7E7E, #978C8C);
        text-shadow: 0 1px rgba(0, 0, 0, 0.1);
        text-transform: uppercase;
    }
    
    .DELETETOPIC
    {
        color: #666;
		border: 1px solid gainsboro;
		border: 1px solid rgba(0, 0, 0, 0.1);
		background-color: whiteSmoke;
		background-image: -webkit-linear-gradient(top, whiteSmoke, #F1F1F1);
		background-image: -moz-linear-gradient(top, whiteSmoke, #F1F1F1);
		background-image: -ms-linear-gradient(top, whiteSmoke, #F1F1F1);
		background-image: -o-linear-gradient(top, whiteSmoke, #F1F1F1);
		background-image: linear-gradient(top, whiteSmoke, #F1F1F1);
		text-transform: uppercase;
    }
    .DELETETOPIC:hover
    {
        color: #333;
        border: 1px solid #C6C6C6;
        background-color: #F8F8F8;
        background-image: -webkit-linear-gradient(top, #F8F8F8, #F1F1F1);
        background-image: -moz-linear-gradient(top, #F8F8F8, #F1F1F1);
        background-image: -ms-linear-gradient(top, #F8F8F8, #F1F1F1);
        background-image: -o-linear-gradient(top, #F8F8F8, #F1F1F1);
        background-image: linear-gradient(top, #F8F8F8, #F1F1F1);
        text-shadow: 0 1px rgba(0, 0, 0, 0.1);
        text-transform: uppercase;
    }*/
            


    .SUBMITEDITOR {
		color: white;
		text-shadow: 0 1px rgba(0, 0, 0, 0.1);
		border: 1px solid #29691D;
		background-color: #3D9400;
		background-image: -webkit-linear-gradient(top, #3D9400, #398A00);
		background-image: -moz-linear-gradient(top, #3D9400, #398A00);
		background-image: -ms-linear-gradient(top, #3D9400,  #398A00);
		background-image: -o-linear-gradient(top, #3D9400, #398A00);
		background-image: linear-gradient(top, #3D9400, #398A00);
    }
    .SUBMITEDITOR:hover {
		border: 1px solid #2D6200;
		background-color: #368200;
		background-image: -webkit-linear-gradient(top, #3D9400, #368200);
		background-image: -moz-linear-gradient(top, #3D9400, #368200);
		background-image: -ms-linear-gradient(top, #3D9400,  #368200);
		background-image: -o-linear-gradient(top, #3D9400, #368200);
		background-image: linear-gradient(top, #3D9400, #368200);
    }

	.GI2MSK2DDCB, .GI2MSK2DICB {
		font-weight: bold;
	}

	.CANCELEDITOR, .MANAGERBUTTON, .CANCELPOSTTOPIC, .DELETECOMMENT, .DELETETOPIC {
		color: #666;
		border: 1px solid gainsboro;
		border: 1px solid rgba(0, 0, 0, 0.1);
		background-color: whiteSmoke;
		background-image: -webkit-linear-gradient(top, whiteSmoke, #F1F1F1);
		background-image: -moz-linear-gradient(top, whiteSmoke, #F1F1F1);
		background-image: -ms-linear-gradient(top, whiteSmoke, #F1F1F1);
		background-image: -o-linear-gradient(top, whiteSmoke, #F1F1F1);
		background-image: linear-gradient(top, whiteSmoke, #F1F1F1);
	}
	.CANCELEDITOR, .MANAGERBUTTON, .CANCELPOSTTOPIC, .DELETECOMMENT, .DELETETOPIC:hover
    {
        color: #333;
        border: 1px solid #C6C6C6;
        background-color: #F8F8F8;
        background-image: -webkit-linear-gradient(top, #F8F8F8, #F1F1F1);
        background-image: -moz-linear-gradient(top, #F8F8F8, #F1F1F1);
        background-image: -ms-linear-gradient(top, #F8F8F8, #F1F1F1);
        background-image: -o-linear-gradient(top, #F8F8F8, #F1F1F1);
        background-image: linear-gradient(top, #F8F8F8, #F1F1F1);
        text-shadow: 0 1px rgba(0, 0, 0, 0.1);
    }

    .SEARCHBUTTON{
		border: 1px solid transparent;
		color: white;
		background-color: #4D90FE;
		background-image: -webkit-linear-gradient(top, #4D90FE, #4787ED);
		background-image: -moz-linear-gradient(top, #4D90FE, #4787ED);
		background-image: -ms-linear-gradient(top, #4D90FE, #4787ED);
		background-image: -o-linear-gradient(top, #4D90FE, #4787ED);
		background-image: linear-gradient(top, #4D90FE, #4787ED);
		text-shadow: 0 1px rgba(0, 0, 0, 0.1);
		text-transform: uppercase;
    }
    .SEARCHBUTTON:hover {
		border: 1px solid #2F5BB7;
		background-color: #357AE8;
		background-image: -webkit-linear-gradient(top, #4D90FE, #357AE8);
		background-image: -moz-linear-gradient(top, #4D90FE, #357AE8);
		background-image: -ms-linear-gradient(top, #4D90FE, #357AE8);
		background-image: -o-linear-gradient(top, #4D90FE, #357AE8);
		background-image: linear-gradient(top, #4D90FE, #357AE8);
    }

#tbGroup td{
    border-bottom: 1px solid #ddd;
    line-height: 17px;
    vertical-align: top;
    padding:5px 0 20px 0;
}

.GLTURNLCK .GLTURNLKW{
    background: url(/Images/star2.png) no-repeat;
    height: 13px;
    width: 13px;
    float:left;
    margin-top: 4px;
    padding: 5px;
}

.GLTURNLCK a {
    font-size: 16px;
    font-weight: normal;
    color: #15C;
    text-decoration: none;
}
.GLTURNLNK {
    margin-top: 4px;
    margin-left: 26px;
    line-height: 17px;
    max-height: 34px;
    overflow: hidden;
}
.GroupSelected {
    color: inherit;
    font-weight: bold;
    font-size: 16px;
    overflow:hidden;
    text-overflow:ellipsis;
    margin-bottom:50px;
}


    .MESSAGE 
    {
        padding: 7px 16px 7px 16px;
        background: #F9EDBE !important;
        border: 1px solid #F0C36D;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
        line-height: 16px;
        font-size: 11px;
        position: relative;
    }
    
    .aimg:link {text-decoration: none}
    .aimg:hover {background-color: #ffffff}

#profile {

}
    #profile .item {
        margin-bottom:5px;
        padding-bottom:5px;
        border-bottom-color:rgba(0, 0, 0, 0.1);
        border-bottom-style:solid;
        border-bottom-width:1px;
    }
    #profile .left {
        margin-left:20px;
        font-weight:bolder;
        float:left;
        width:150px;
    }
    #profile .right {
        
    }